@page "/changepassword"
@inject IRepository Repository
@inject SweetAlertService SweetAlertService
@inject NavigationManager NavigationManager

@if (loading)
{
    <div class="spinner"></div>
}

<div class="row">
    <div class="col-6">
        <EditForm Model="changePasswordDto" OnValidSubmit="ChangePasswordAsync">
            <DataAnnotationsValidator />

            <div class="card">
                <div class="card-header">
                    <span>
                        <i class="oi oi-key"></i> Cambiar Contrasena
                        <a class="btn btn-sm btn-success float-end" href="/edituser"><i class="oi oi-arrow-thick-left"></i> Regresar</a>
                        <button class="btn btn-sm btn-primary float-end mx-2" type="submit"><i class="oi oi-check"></i> Guardar Cambios</button>
                    </span>
                </div>
                <div class="card-body">
                    <div class="mb-3">
                        <label>Contrasena actual:</label>
                        <InputText type="password" class="form-control" @bind-Value="changePasswordDto.CurrentPassword" />
                        <ValidationMessage For="@(() => changePasswordDto.CurrentPassword)" />
                    </div>
                    <div class="mb-3">
                        <label>Nueva contrasena:</label>
                        <InputText type="password" class="form-control" @bind-Value="changePasswordDto.NewPassword" />
                        <ValidationMessage For="@(() => changePasswordDto.NewPassword)" />
                    </div>
                    <div class="mb-3">
                        <label>Confirmacion de nueva contrasena:</label>
                        <InputText type="password" class="form-control" @bind-Value="changePasswordDto.Confirm" />
                        <ValidationMessage For="@(() => changePasswordDto.Confirm)" />
                    </div>
                </div>
            </div>
        </EditForm>
    </div>
</div>

@code {
    private readonly ChangePasswordDTO changePasswordDto = new();
    private bool loading;

    private async Task ChangePasswordAsync()
    {
        loading = true;
        var responseHttp = await Repository.PostAsync("/api/accounts/changePassword", changePasswordDto);
        if (responseHttp.Error)
        {
            var message = await responseHttp.GetErrorMessageAsync();
            await SweetAlertService.FireAsync("Error", message, SweetAlertIcon.Error);
            loading = false;
            return;
        }

        loading = false;
        await SweetAlertService.FireAsync("Exito", "Contrasena cambiada con exito.", SweetAlertIcon.Success);
        NavigationManager.NavigateTo("/edituser");
    }
}
